{{#if isAuth}}
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect" href="/add_ad">
      <i class="large material-icons">add</i>
    </a>
  </div>
{{/if}}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 l3">
        <h5 class="white-text">
          Группа помощи бездомным животным &laquo;Хвостики&raquo;
        </h5>
        <p class="grey-text text-lighten-4">
          Услуги Группы Помощи Бездомным Животным являются бесплатными,
          финансирование службы осуществляется за счёт добровольных
          благотворительных пожертвований. Мы вызвались помочь
          животным-бездомышам Пойковского
        </p>
      </div>
      <div class="col s12 m3 l3">
        <h5 class="white-text">Счетчик LiveInternet</h5>
      </div>
      <div class="col s12 m3 l3">
        <h5 class="white-text">Наша группа VK</h5>
      </div>
      <div class="col s12 m3 l3">
        <h5 class="white-text">Ссылки</h5>
        <ul>
          <li>
            <a href="" class="grey-text text-lighten-4">Мы в VK</a></li>
          <li>
            <a href="" class="grey-text text-lighten-4">
              Мы в Одноклассниках
            </a>
          </li>
          <li>
            <a href="" class="grey-text text-lighten-4">Мы в Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2018-<span id="current_year"></span> Khvostiki.Ru
      <a class="grey-text text-lighten-4 right"
         href="https://t.me/NikitaGuriev" target="_blank">Автор сайта</a>
    </div>
  </div>
</footer>