<!-- Меню навигации -->
{{>navbar}}

<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h2>Ошибка 404</h2>
                <p>Страница не найдена</p>
                <a href="/" class="waves-effect btn">Перейти на главную страницу</a>
            </div>
        </div>
    </div>
</main>

<!-- Футер приложения -->
{{>footer}}

<!-- Скрипты приложения -->
{{>scripts}}