<!-- Меню навигации -->
{{>navbar}}

<div class="container center-align slide-from-bottom">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m12 l12">
              <h4>Наш рабочий номер телефона</h4>
              <a class="waves-effect btn" href="tel:+79129056005">+79129056005 Хвостики</a>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <h4>Мы в социальных сетях</h4>
                <p>
                  <a href="https://vk.com/poykovskiy_khvostiki" target="_blank">
                    <img src="https://khvostiki.ru/images/VK.com-logo.svg" alt="Мы в ВКонтакте" class="sn_img">
                  </a>
                  &nbsp;
                  <a href="https://www.ok.ru/group/54245552292042" target="_blank">
                    <img src="https://khvostiki.ru/images/Odnoklassniki.svg" alt="Мы в Одноклассниках" class="sn_img">
                  </a>
                  &nbsp;
                  <a href="https://www.instagram.com/poykovskiy_khvostiki" target="_blank">
                    <img src="https://khvostiki.ru/images/Instagram_new.svg" alt="Мы в Инстаграме" class="sn_img">
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Футер приложения -->
{{>footer}}

<!-- Скрипты приложения -->
{{>scripts}}