<!-- Меню навигации -->
{{>navbar}}

<div class="container slide-from-bottom">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="https://khvostiki.ru/photos/4e4a1ff8492a1a8a67a106eb2a6e2d3a.jpg"
               alt="Animal photo">
          <img class="responsive-img" src="https://khvostiki.ru/photos/89ed79ad536956920c1e3868e15c7c5f.jpg"
               alt="Animal photo">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Футер приложения -->
{{>footer}}

<!-- Скрипты приложения -->
{{>scripts}}