<!-- Меню навигации -->
{{>navbar}}

<div class="container center-align slide-from-bottom">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <h4>Быстрый поиск</h4>
          <div class="chip"><a href="">Все коты и кошки</a></div>
          <div class="chip"><a href="">Все собаки</a></div>
          <div class="chip"><a href="">Все котята</a></div>
          <div class="chip"><a href="">Все щенята</a></div>
          <div class="chip"><a href="">Все кошки</a></div>
          <div class="chip"><a href="">Все коты</a></div>
          <div class="chip"><a href="">Все собаки (девочки)</a></div>
          <div class="chip"><a href="">Все псы</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Футер приложения -->
{{>footer}}

<!-- Скрипты приложения -->
{{>scripts}}